html, body {
  overflow: hidden;
}

/*small components*/
.b {
  border: 0.5vmin solid;
}

.r {
  border-radius: 100%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}


/*main component*/

.drawing {
  --line: black /*#EEEAD7*/;
  --body: #1D1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 80vmin;
}

.body,
.antenna{
  position: absolute;
  width: 4%;
  height: 4%;
  background: var(--body);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*thin bodypart*/
.body::before {
  width: 60%;
  height: 850%;
  background-color: var(--body);
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
}

/*big bodypart*/
.body::after {
  width: 120%;
  height: 320%;
  background: var(--body);
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
}

/*antenna tips*/
.antenna {
  box-shadow:
    -4.1vmin -9.1vmin 0 -1vmin var(--body),
    4.1vmin -9.1vmin 0 -1vmin var(--body);
}

/*antenna strings*/
.antenna::after,
.antenna::before {
  width: 150%;
  height: 350%;
  border-radius: 50%;
  left: 80%;
  bottom: 20%;
  border: 0.25vmin solid transparent;
  border-left: 0.5vmin solid var(--body);
  transform: rotate(20deg);
}

.antenna::after {
  border-left: 0.5vmin solid transparent;
  border-right: 0.5vmin solid var(--body);
  transform: rotate(-20deg);
  left: -135%;
}

.wing-top {
  position: absolute;
  top: 7%;
  left: -0.65%;
  width: 50%;
  height: 45%;
  background: linear-gradient(darkorange, #EEEAD7);
  border-radius: 5% 110% 10% 80%;
  transform-origin: right bottom;
  transform: rotate(-11deg);
  box-shadow:
    inset 3vmin 1.5vmin 0 1vmin,
    inset -0.5vmin 0 0 1vmin;
  overflow: hidden;
  animation: wingTopFlap1 5s linear infinite;
}

/*line for style*/
.wing-top::after {
  width: 120%;
  height: 90%;
  border-radius: 50%;
  transform: rotate(35deg);
  left: 30%;
  top: -5%;
  box-shadow: inset 1vmin -2vmin;
}

.wing-bottom {
  position: absolute;
  width: 28%;
  height: 40%;
  top: 77.5%;
  left: 23%;
  background: linear-gradient(95deg, darkorange, #EEEAD7);
  border-radius:  5% 110% 10% 80%;
  transform-origin: right top;
  transform: rotate(85deg);
  box-shadow:
    inset 1vmin -1vmin 0 0.5vmin,
    inset -0.75vmin -0.5vmin 0 0.5vmin;
  overflow: hidden;
  animation: wingBottomFlap1 5s linear infinite;
}

/*line for style*/
.wing-bottom::before {
  width: 100%;
  height: 100%;
  left: 45%;
  top: -30%;
  border-radius: 50%;
  box-shadow:
    -0.5vmin -0vmin 0 0.5vmin;
  transform: rotate(-20deg);
}
/*line for style*/
.wing-bottom::after {
  width: 150%;
  height: 125%;
  left: 30%;
  top: -40%;
  border-radius: 50%;
  box-shadow:
    -0.5vmin -0vmin 0 0.5vmin;
  transform: rotate(-30deg);
}


/*positionning the rights wings = first children having the same class, hence we use ~ */
.wing-bottom ~ .wing-bottom{
  left: 21%;
  animation: wingBottomFlap2 5s linear infinite;
}
.wing-top ~ .wing-top{
  left: 0.65%;
  transform: scaleX(-1) rotate(-11deg);
  animation: wingTopFlap2 5s linear infinite;
}

/*ANIMATION*/

@keyframes wingTopFlap1 {
  0%,10%, 100% { transform: rotate(-12deg) rotate3d(0, 0, 0, -85deg); }
  5% { transform: rotate(-12deg) rotate3d(1, -4, 0.5, -85deg); }
}
@keyframes wingTopFlap2 {
  0%,10%, 100% { transform: scaleX(-1) rotate(-12deg) rotate3d(0, 0, 0, -85deg); }
  5% { transform: scaleX(-1) rotate(-11deg) rotate3d(-1, 4, 0.5, -85deg); }

}


@keyframes wingBottomFlap1 {
  0%,10%, 100% { transform: rotate(85deg) rotate3d(0, 0, 0, -85deg); }
  5% { transform: rotate(85deg) rotate3d(-10, 0.2, -0.1, -85deg); }
}
@keyframes wingBottomFlap2 {
  0%,10%, 100%  { transform: scaleX(-1) rotate(85deg) rotate3d(0, 0, 0, -85deg); }
  5% { transform: scaleX(-1) rotate(85deg) rotate3d(-10, 0.2, -0.1, -85deg); }
}
